.WrapperBuildYourWatchModel{
    align-items: center;
    align-content: center;
    margin: 0 auto;
    text-align: center;
    .WrapperAboutTheProduct{
        width: 60%;
        margin: 0 auto;
    }
}