.CreateAccountWrapper {
    h1{
        @media (max-width: 405px) {
            font-size: 12px;
}
    }
  input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(234, 236, 245, 1);
  }
  button {
    padding: 20px;
    width: 30%;
  }
  text-align: center;
  align-items: center;
  align-content: center;
  .WrapperInput2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 52%;
    input {
      width: calc(50% - 25px);
    }
  }
  .SignUpWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    p {
      margin-left: 5px;
    }
    input {
        width: auto;
      margin: 0;
    }
  }
}
