.LoginCreateAccountWrapper {
  width: 100%;
  background: linear-gradient(to bottom, white 60%, transparent 40%),
    url("../Assets/Image/BackgroundDelivwery.png") center/cover;
  padding-top: 40px;
  padding-bottom: 80px;
  .LoginCreateWrapper {
    filter: drop-shadow(20px 7px 5px rgba(34, 60, 80, 0.2));
    background-color: white;
    margin: 0 auto;
    width: 70%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    .LoginCreate {
      display: flex;
      width: 30%;
      justify-content: space-between;
      margin: 0 auto;
      h3 {
        cursor: pointer;
        color: #cfcfcf;
        position: relative;
        &:hover {
          text-decoration: none; 
        }

        &:hover::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px; 
          width: 40%;
          height: 2px;
          background-color: #735cff;
          border-radius: 5px;
        }
        &.active {
          color: #000;
        }
      }
    }
  }
}
