.WrapperSignUpHome{
    margin-top: 100px;
    text-align: center;
    align-items: center;
    background-image:url(../Assets/Image/backgroundHome.png);
    background-size: cover;
    padding-bottom:30px;
    p{color: rgba(255, 255, 255, 1);}
    h2{
        padding-top: 45px;
        color: rgba(255, 255, 255, 1);
    }
    button{
        margin-top: 30px;
        margin-bottom: 15px;
        padding: 15px;
        width: 20%;
        min-width: 96px;
        background-color: rgba(0, 0, 0, 1);
    }
    .WrapperInput{
        margin-top: 20px;
        input{
            outline: none;
            width: 20%;
            height: 55px;
            border-radius: 5px;
            border-color: rgba(255, 255, 255, 0.1);
            padding-left: 15px;
        }
    }
}